logs/
outputs/
cfgs/__pycache__/
agents/__pycache__/
envs/__pycache__/
testing.py
networks/__pycache__/
__pycache__/
agents/ANYmal-C.usda
agents/.thumbs/256x256/ANYmal-C.usda.png
papers/
.vscode/
envs/prev_env.py
cfgs/prev_cfg.py
morphologies/.thumbs/
morphologies/.thumbs/
morphologies/usd_learn.py
morphologies/generated
morphologies/generated_quads/
morphologies/generated_quads_cly/
